body {
  background-color: #f4d04e;
  padding: 15%;
}
.container {
  margin: 20px auto 0 auto; /* top | right/left auto | bottom */
  box-shadow: 5px 5px black;
  background-color: white;
  border: 2px black solid;
  border-radius: 9px;
  margin: auto;
  padding: 16px;
  max-width: 400px;
}
.container:hover {
  box-shadow: 12px 12px black;
  transition: ease-in 0.2s;
}
.container:hover h3 {
  color: #f4d04e;
  cursor: pointer;
  transition: ease-in 0s;
}

.container .main-img {
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}
.learn-btn {
  display: inline-block; /*able to resize the btn*/
  padding: 2px 10px;
  background-color: #f4d04e;
  text-align: center;
  font-weight: bold;
  font-family: "Figtree";
  border-radius: 4px;
}
p.date {
  color: #111111;
  font-size: 14px;
}
h3 {
  color: #111111;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Figtree";
  font-weight: bold;
}
/* h3:hover {
  font-size: 24px;
  color: #f4d04e;
  cursor: pointer;
} */
p {
  color: #6b6b6b;
  font-size: 16px;
  font-family: "Figtree";
}
.greg {
  color: #111111;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Figtree";
  font-weight: bold;
}
.greg img {
  margin-right: 8px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*Mobile Responsive*/
@media (max-width: 600px) {
}
